# Editor folders and files
.vscode/
*.swp
*.swo

# Node modules (if using any tooling like Gulp, Webpack, etc.)
node_modules/

# Build directory (if you have a build process)
/dist
/build

# Cache and temporary files
*.log
*.tmp
*.temp
.cache/

# Other files and directories you don't want to track
/secrets/
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.log

# Editor directories
*.suo
*.ntvs*
*.njsproj
*.tmproj
*.log

# Local Netlify folder
.netlify/