@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* src/assets/main.css */
html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

#app {
    font-family: 'Roboto', sans-serif;
}

[v-cloak] {
    display: none;
}

.particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

p {
    margin-bottom: 10px;
}
p:last-child {
    margin-bottom: 0;
}